node_modules/
.next/
/out/
/build
.turbo/
.DS_Store
*.pem
npm-debug.log*

# Nunca subir secretos al repo
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel
.netlify
supabase/.temp/
*.tsbuildinfo
next-env.d.ts
